@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*--irmportação da fonte desejada através do google fonts--*/


:root{
    --cor-primaria: #A67458;
    --cor-secundaria: #fff;
    --cor-terciaria: black;
}

*{
    margin: 0%;
    padding: 0%;
    }
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color:#fff;
    }

.navegacao
{
    font-family:"Lato", serif;
    font-size: 1.3rem;
    display: flex;
    padding: 2% 15%;
    font-weight: 400;
}

.navegacao_menu{
    display: flex;

    gap: 2rem;

}
    
.navegacao_menu_opcao {
    text-decoration: none; 
    display: flex;
    align-items: center;
    color:#fff;
}

.titulo_forte{
    color:black;
    }

 .main_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 15%;
    font-family:"Lato", serif;
    gap: 1rem;
    }
.img_principal {
        width: 50%; 
      }
.conteudo_textual{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.titulo_principal{
    font-size: 2.25rem;
  
}

.conteudo-textual-secundario{
    font-size: 1.3rem;
    font-weight: 6.25rem;
}

.links{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 32px;
}

.texto_contato{
    font-size: 1.3rem;
    font-weight: 530;
    
}

.links__link
{
    border: 3px solid black;/*define a borda do botao*/
    width: 50%;
    font-weight: 600;
    color: #fff;
    font-family: "Lato", serif;
    text-align: center;
    border-radius: 0.5rem;
    padding: 5%;
    text-decoration: none; 
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.links__link:hover
{
    background-color:#d76346;
    border-style: inset;
    width: 50%;
}

.imagens_link
{
    width: 20%; 
}

.rodape
{
    display:flex;
    justify-content: center;
    color: black;
    font-size: 1rem;
    background-color: #6d3223;
    padding: 20px;
    font-family: "Lato", serif;
    font-weight: 700;
}

.main_principal_about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15% 15%;
    font-family:"Lato", serif;
    }
.titulo_principal_about{
    font-size: 2rem;
}

.conteudo_textual_about
{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap:2rem;
    width: 25rem;

}

@media(max-width:1265px)
{
    .main_principal{
        display: flex;
        flex-direction: column-reverse;
        padding: 5% 5%;
    }

    .navegacao
    {
        padding:5% 0 1% 0%;

        justify-content: center;
    }

    .conteudo_textual
    {
        width:auto;
    }
 
}



